@model IEnumerable<dbfEvent.Data.Models.Event>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";

}

@*<div class="d-flex flex-wrap justify-content-start gap-3">
        @foreach (var item in Model)
        {

                var imgSrc = imgCount > 0 ? images[index % imgCount] : "/images/default.jpg";
                index++;

            <div class="card" style="width: 18rem;">
                <img src="@imgSrc" class="card-img-top" alt="@item.EventName" />
                <div class="card-body">
                    <h5 class="card-title">@item.EventName</h5>
                    <p class="card-text">@item.Description</p>
                    <a href="#" class="btn btn-outline-primary">Git</a>
                </div>
            </div>
        }

    </div>*@


<div class="d-flex flex-wrap gap-3">
    @foreach (var item in Model)
    {
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">@item.EventName</h5>
                <h6 class="card-subtitle mb-2 text-body-secondary">@item.EventType</h6>
                <p class="card-text">@item.Description</p>
                <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a>
            </div>
        </div>
    }
</div>
